#!/usr/bin/make -f

PKG = $(word 2,$(shell dpkg-parsechangelog | grep Source))
VERSION ?= $(shell cat VERSION)
URL_DOWNLOAD = "https://github.com/kvesteri/sqlalchemy-continuum/archive/${VERSION}.tar.gz"
export PYBUILD_NAME=sqlalchemy-continuum
export PYBUILD_DISABLE=test
export PYBUILD_SYSTEM=distutils

%:
	dh $@ --with python3 --buildsystem=pybuild

.PHONY: get-orig-source

get-orig-source:
	@echo "# Downloading..."
	wget -nv -T10 -t3 $(URL_DOWNLOAD) -O ../$(PKG)_$(VERSION).orig.tar.gz
